<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<settings>
    <category label="Main">
		<setting label="General" type="lsep"/>
        <setting id="page_indicator" type="bool" label="Display Page Indicator" default="true"/>
		<setting label="Database" type="lsep"/>
        <setting id="episode_view" type="bool" label="List Videos as Episodes" default="false"/>
        <setting label="Clear local DB" type="action" option="close" action="RunPlugin(plugin://plugin.video.channelawesome/?mode=10)"/>
        <!--
        <setting id="volume" label="Slider" type="slider" default="0" range="0,1,100" option="int" />
        <setting label="Trenner" type="lsep"/>
		<setting label="RunScript1" type="action" option="close" action="RunScript($CWD/default.py)"/>
		<setting label="Runscript2" type="action" option="close" action="RunScript($CWD/advsettings.py)"/>
		-->
	</category>
</settings>